<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/cadastro.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Cadastro</title>
</head>
<body>
  <main>
    <form action="">
      <p>Cadastro de Animal</p>
      <label for="nome">Nome da Raça:</label>
      <input class="inputs" type="text" id="nome">
      <label for="tamanho">Tamanho:</label>
      <input class="inputs" type="text" id="tamanho">
      <label for="idade">Idade:</label>
      <input class="inputs" type="number" id="idade">
      <label for="horario">Horario de alimentação:</label>
      <input class="inputs" type="time" id="horario">
      <label for="tipo">Tipo de Ração:</label>
      <input class="inputs" type="text" id="tipo">
      <label for="quantidade">Quantidade de Ração:</label>
      <input class="inputs" type="number" id="quantidade">
      <input class="btn-submit" type="submit">
    </form>
  </main>
</body>
</html>